.map-container {
  display: flex;
  margin: 5% auto;
  width: 75%;
  .map {
    box-shadow: 2px 4px 10px rgba(115, 122, 31, 0.33);
    margin-right: 5%;
    i {
      cursor: crosshair;
    }
  }
  .popup-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    h3 {
      font-size: 1rem;
    }
    p {
      font-size: 0.5rem;
    }
  }

  .hide {
    width: 50%;
    display: none;
  }
  .pub-info {
    width: 80%;
    padding: 3%;
    box-shadow: 2px 4px 10px rgba(115, 122, 31, 0.33);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1.5rem;
      margin-top: 2%;
    }
  }

  .social-links {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    margin-top: 5%;
    .fab {
      font-size: 2rem;
      cursor: pointer;
      transition: color 0.4s ease;

      &:hover {
        color: rgba(122, 132, 21, 1);
      }
    }
  }
}
